[flake8]
application-import-names = src
docstring-convention = google
ignore = ANN002,ANN003,ANN101,E203,E501,W503, DAR101, DAR201, DAR401,ANN102
import-order-style = google
max-cognitive-complexity = 15
max-complexity = 10
max-line-length = 100
select =ANN,B,B9,C,D,E,F,I,N8,PT,W
